{% extends 'errors/base.html' %}
{% block title %}Change your password{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="col-md-offset-4 col-md-4" style="text-align: center;">
                        <div class="alert alert-{{ message.tags }}">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true">  </span>
                            {{ message }}
                        </div>
                    </div>

                {% endfor %}
            </ul>
        {% endif %}
        <div class="container">
            <div class="col-md-offset-3 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-head">
                        <h2 style="text-align: center">Change your password </h2>
                    </div>
                    <div class="panel-body" style="max-height: 10;">
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="{% url 'error:change_password' %}"
                              method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-4" for="id_old_password">
                                    Old password:
                                </label>
                                <div class="col-md-13">
                                    <input id="id_old_password" maxlength="30" name="old_password" required=""
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="id_new_password">
                                    New password:
                                </label>
                                <div class="col-md-13">
                                    <input id="id_new_password" maxlength="30" name="new_password" required=""
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="id_new_password_repeat">
                                    New password repeat:
                                </label>
                                <div class="col-md-13">
                                    <input id="id_new_password_repeat" maxlength="30" name="new_password_repeat"
                                           required="" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}