{% extends 'errors/base.html' %}


{% block body %}

    <div class="container">
        <div class=" col-md-offset-3 col-md-6">

            <div class="panel panel-default">

                <div class="panel-head">
                    <h2 style="text-align: center">DETAILS FOR ERROR ID: {{ error.id }}</h2>
                </div>

                <div class="panel-body" style="background-color: lightgray;">

                    <div class="form-group">
                        {% for name, value in error.get_fields %}
                            {% if value %}
                                {% if name == 'issue_id' %}
                                    {{ name }} : <a href="{{ value }}">{{ value }}</a> </br></br>
                                {% elif name == 'created_by' %}
                                    {% if user.is_authenticated %}
                                         {{ name }} : {{ value }} </br></br>
                                    {% endif %}
                                {% else %}
                                    {{ name }} : {{ value }} </br></br>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>


            </div>
        </div>

    </div>

{% endblock %}





