{% extends 'errors/base.html' %}


{% block body %}

    <div class="container-fluid">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="col-md-offset-4 col-md-4" style="text-align: center;">
                        <div class="alert alert-{{ message.tags }}">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true">  </span>
                            {{ message }}
                        </div>
                    </div>

                {% endfor %}
            </ul>
        {% endif %}
        <!-- FOR LOGGED USER -->
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-md-offset-0 col-md-4">

                    <div class="panel panel-default">

                        <div class="panel-head">
                            <h3 style="text-align: center">DETAILS FOR ERROR ID: {{ error.id }}</h3>
                        </div>

                        <div class="panel-body" style="background-color: lightgray;">

                            <div class="form-group">
                                {% for name, value in error.get_fields %}
                                    {% if value %}
                                        {% if name == 'issue_id' %}
                                            {% if value == 'TBD' %}
                                                {{ name }} : {{ value }} </br></br>
                                            {% else %}
                                                {{ name }} : <a href="{{ value }}">{{ value }}</a> </br></br>
                                            {% endif %}
                                        {% elif name == 'created_by' %}
                                            {% if user.is_authenticated %}
                                                {{ name }} : {{ value }} </br></br>
                                            {% endif %}
                                        {% else %}
                                            {{ name }} : {{ value }} </br></br>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'error:update' error.id %}" class="btn btn-default" role="button">Edit</a>
                            <a href="{% url 'error:create_copy' error.id %}" class="btn btn-default" role="button">Create Copy</a>
                              <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#commentModal">Add a comment</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="panel panel-default">
                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data"
                          >
                        {% csrf_token %}
                        <h4 style="text-align: center; color: darkgrey">YOUR COMMENT:</h4>
                        {% for field in form %}
                            <div class="form-group">
                                <div class="col-md-12">{{ field }}</div>
                            </div>
                        {% endfor %}
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        {% include 'errors/comment_modal.html' %}
                    </form>
                        <!-- head -->
                        <div class="panel-head">
                            <h3 style="text-align: center">COMMENTS: </h3>
                        </div>

                        <!-- body -->
                        <div class="panel-body" style="background-color: lightgray;">
                            <div class="form-group">
                                {% for comment in all_comments %}<br/><br/>
                                    {{ comment.user_comment }}<br/>
                                    <p style="font-weight: 700; font-size: smaller;">{{ comment.date }}, {{ comment.time }}, {{ comment.user }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- footer -->

                        <div class="panel-footer">


                        </div>


                    </div>
                </div>


                <!--HISTORY-->
                <div class="col-md-4">

                    <div class="panel panel-default">

                        <!-- head -->
                        <div class="panel-head">
                            <h3 style="text-align: center">EDIT HISTORY </h3>
                        </div>

                        <!-- body -->
                        <div class="panel-body" style="background-color: lightgray;">
                            <div class="form-group">
                                {% for record in all_history %}<br/><br/>
                                    {{ record.history_record }}<br/>
                                    <p style="font-weight: 700; font-size: smaller;">{{ record.date }}, {{ record.time }}, {{ record.user }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- footer -->


                    </div>
                </div>
            </div>

        {% else %}
            <!-- FOR NOT LOGGED USER -->
            <div class="col-md-offset-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-head">
                        <h3 style="text-align: center">DETAILS FOR ERROR ID: {{ error.id }}</h3>
                    </div>
                    <div class="panel-body" style="background-color: lightgray;">
                        <div class="form-group">
                            {% for name, value in error.get_fields %}
                                {% if value %}
                                    {% if name == 'issue_id' %}
                                        {{ name }} : <a href="{{ value }}">{{ value }}</a> </br></br>
                                    {% elif name == 'created_by' %}
                                        {% if user.is_authenticated %}
                                            {{ name }} : {{ value }} </br></br>
                                        {% endif %}
                                    {% else %}
                                        {{ name }} : {{ value }} </br></br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}





