{% extends 'errors/base.html' %}

{% block body %}

    <div class="container-fluid">

        {% if messages %}
            {% for message in messages %}
                <div class="col-md-offset-4 col-md-4">
                    <div class="alert alert-{{ message.tags }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true">  </span>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">

            <div class="col-md-offset-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-head">
                        <h1 style="text-align: center">{{ window_role }}</h1>

                    </div>

                    <div class="panel-body" style="background-color: lightgrey">

                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'errors/form-template.html' %}
                            {% if button_role == "UPDATE" %}
                                {% include 'errors/history_modal.html' %}
                                <div class="form-group">
                                    <div class="col-md-offset-9 col-md-2">

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#historyModal">{{ button_role }}</button>
                                    </div>

                                </div>
                            {% else %}
                            <div class="form-group">

                                <div class="col-md-offset-9 col-md-2">
                                    <button type="submit" class="btn btn-primary">{{ button_role }}</button>
                                </div>

                            </div>
                            {% endif %}

                        </form>

                    </div>

                </div>

            </div>

        </div>


    </div>

{% endblock %}