{% for field in form %}
    <div class="form-group">
        <label class="control-label col-md-3">{{ field.label_tag }}</label>
        {% if field.name == 'date' %}
            <input type="hidden" id="datepicker">
            <div class="trigger col-md-9">{{ field }}</div>
        {% elif field.name == 'issue_id' %}
            <div class="col-md-9"><input id="id_issue_id" name="issue_id" type="text" value="{{ error.parse_url_address_to_issue_id }}" required="" data-dpmaxz-eid="6"></div>
        {% else %}
            <div class="col-md-9">{{ field }}</div>
        {% endif %}
    </div>

{% endfor %}