{% extends 'errors/base.html' %}

{% block body %}

    <div class="container-fluid">
        {% if info_message %}

        {% endif %}

        <table class="table table-striped">

            <thead style='color: ghostwhite; background-color: cadetblue'>
                <tr>
                    {% for field, _ in fields %}
                        {% if field == column %}
                            {% if ordered == 'asc' %}
                                <th><a href="{% url 'error:desc_sorting' field %}">{{ field }} <i class="fa fa-sort-asc" aria-hidden="true"></i></a></th>
                            {% else %}
                                <th><a href="{% url 'error:asc_sorting' field %}">{{ field }} <i class="fa fa-sort-desc" aria-hidden="true"></i></a></th>
                            {% endif %}
                        {% else %}
                            <th><a href="{% url 'error:asc_sorting' field %}">{{ field }} <i class="fa fa-sort" aria-hidden="true"></i></a></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for error in all_errors %}
                <tr>
                    {% for name, value in error.get_fields %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td><a href="{% url 'error:detail' error.id %}" class="btn btn-default btn-md" role="button">Details</a></td>
                    <td><button type="button" class="btn btn-primary"><a href="#"></a>Edit</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}