{% extends 'errors/base.html' %}

{% block body %}

    <div class="container-fluid">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="col-md-offset-4 col-md-4" style="text-align: center;">
                    <div class="alert alert-{{ message.tags }}">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: darkgreen;">  </span>
                        {{ message }}
                    </div>
                </div>

            {% endfor %}
        </ul>
        {% endif %}

        <table class="table table-striped">

            <thead style='color: ghostwhite; background-color: cadetblue'>
                <tr>
                    {% for field, _ in fields %}
                        {% if field == column %}
                            <th><a href="{% url 'error:sorting' field direction %}">{{ field }} <i class="{{ icon }}"></i></a></th>
                        {% else %}
                            <th><a href="{% url 'error:sorting' field 'asc' %}">{{ field }} <i class="fa fa-sort"></i></a></th>
                        {% endif %}
                    {% endfor %}
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for error in all_errors %}
                <tr>
                    {% for name, value in error.get_fields %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'error:detail' error.id %}" class="btn btn-default btn-md" role="button">Details</a></td>
                        <td><a href="{% url 'error:update' error.id %}" class="btn btn-primary btn-md" role="button">
                                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>  Edit
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <div class="col-md-offset-5 col-md-4">
        <span class="step-links">
            {% if all_errors.has_previous %}
                <a href="?page={{ all_errors.previous_page_number }}"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a>
            {% endif %}

            <span class="current">
                PAGE {{ all_errors.number }} of {{ all_errors.paginator.num_pages }}
            </span>

            {% if all_errors.has_next %}
                <a href="?page={{ all_errors.next_page_number }}"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        </span>

</div>

    </div>

{% endblock %}